/* p{
  color: red;
} */



/*! Синтаксис css */
/* selector {
  properti: properti value;
  properti: properti value;
  properti: properti value;
  properti: properti value;
  properti: properti value;
  properti: properti value;
} */
/** Селектор{властивісьть: значення;}  */


/*? Види селекторів  */
/*!1 CSS селектор елемента(тега) p, a, h1, main.... */
/* p{
  color: red
} */
/*!2 CSS селектор id  # */
/* #para1{
  color: blue;
} */

/*!3 CSS селектор class  . */
/* .center{
  color:rgb(70, 120, 21);
  text-align: center;
} */

/*!4 CSS селектор атрибуту  [] */
/* [href="https://google.com"]{
  font-size: 28px;
} */

/*!5 CSS селектор all  * */

*{
  background-color: #15c7be;
}

/*? //////////////////////////////////////////////// */
/* лише <p> з class center */
/* p.center {
  font-weight: 900;
} */

/*? //////////////////////////////////////////////// */
/* h1, hr, p, .center, #para1{
  text-align: center;
} */

/* ///////////////////////////////////////////////// */

@font-face {
  font-family: 'Jersey';
  src: url(../fonts/Jersey10-Regular.ttf);
}

p{
  /*! font-family*/
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Jersey';

  /*! розмір текста  */
  font-size: 28px;
  /*! курсив */
  /* font-style: normal; */
  font-style: italic;
  /*! напівжирним  */
  font-weight: bold;
  /*! вирівнювання */
  /* text-align: start; */
  /* text-align: end; */
  /* text-align: center; */
  /* text-align: justify; */
  /*! підкрислення */
  text-decoration: underline;
  /* text-decoration: line-through; */
  /* text-decoration: overline; */
  /*! абзац  */
  text-indent: 35px;
  /*! регістер  */
  /* text-transform: lowercase; */
  /* text-transform: uppercase; */
  text-transform: capitalize;
 /* ! відступи між рядками */
  line-height: 45px;

  /*? /////////////////// color ///////////////// */
  /*! колір текста*/
  /* color: pink ;*/
  /* color: #872727; */
  color: rgb(6, 33, 51);
  /*! колір заднього плану */
  background-color:blanchedalmond;

  /*! розмір (висота і ширина)*/
  height: 300px;
  width: 650px;

  /* ! відступ від границі в середині блока */
  /* padding: 50px; */
  /* padding: 100px 50px; */
  padding: 10px 30px 100px 120px;
  /* padding-left: ;
  padding-right: ;
  padding-top: ;
  padding-bottom: ; */

  /* ! рамка елемента або border */
  /* border-width: 7px;
  border-color: red;
  border-style: solid; */
  border: 7px solid red;

  /* ! зовнішній відступ */
  /* margin: 100px; */
  /* margin: 10px  50px; */
  margin: 10px 30px 60px 100px;
  /* margin-left: ;
  margin-right: ;
  margin-top: ;
  margin-bottom: ; */
}